@font-face {
  font-family: "iconfont"; /* Project id 2646277 */
  src: url('//at.alicdn.com/t/font_2646277_uyd8xv5n1re.woff2?t=1625235170999') format('woff2'),
       url('//at.alicdn.com/t/font_2646277_uyd8xv5n1re.woff?t=1625235170999') format('woff'),
       url('//at.alicdn.com/t/font_2646277_uyd8xv5n1re.ttf?t=1625235170999') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-rss3:before {
  content: "\e6eb";
}

.icon-tv1:before {
  content: "\e616";
}

.icon-mail:before {
  content: "\e7b7";
}

.icon-qq:before {
  content: "\e6b2";
}

.icon-twitter:before {
  content: "\ecc1";
}

.icon-telegram:before {
  content: "\eaf9";
}

.icon-csdn:before {
  content: "\e60a";
}

.icon-zhihu:before {
  content: "\e87c";
}

.icon-telegram1:before {
  content: "\e78f";
}

.icon-github:before {
  content: "\e88a";
}

.icon-wechat:before {
  content: "\e916";
}

.icon-icon_bilibili:before {
  content: "\e600";
}

.icon-bilibili-fill:before {
  content: "\e652";
}

.icon-tv:before {
  content: "\e6bc";
}
